<!doctype html>

<html lang="en">
    <head>
        @await Html.PartialAsync("_Head")
        <title>CookTime</title>
    </head>

    <body class="background-color-grey2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a id="pl-navbar-brand" class="navbar-brand mx-auto" href="/Index">
                <img src="/CookTime-Logo.png" height="30" class="d-inline-block align-top" alt="">
                CookTime
            </a>
        </nav>
        @RenderBody()
        @RenderSection("scripts", required: false)
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @* @await Component.InvokeAsync("Feedback") *@
    </body>
</html>