@model ValueTuple<string, string>
@{ var (text, classs) = Model; string boostrapClass = $"alert-{classs}"; }

<div class="alert @boostrapClass alert-dismissible fade show" role="alert">
    @text
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>