.create-recipe-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--themePrimary);
  color: white;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
  white-space: nowrap;
  transform: translateY(-2px);
}

.create-recipe-link:hover {
  background-color: var(--btn-primary-bg-color-hover);
  color: white;
}

.create-recipe-link:active {
  background-color: var(--btn-primary-bg-color-hover);
  color: white;
}

@media (max-width: 576px) {
  .create-recipe-link {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 12px;
  }
