.create-recipe-link {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  margin-top: 5px;
}

.create-recipe-link:hover {
  transform: scale(1.2);
}

.create-recipe-link i {
  transition: color 0.2s ease-in-out;
}
