.create-recipe-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--themePrimary);
  color: white;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
  margin-top: 5px;
}

.create-recipe-link:hover {
  background-color: var(--btn-primary-bg-color-hover);
  color: white;
}

.create-recipe-link:active {
  background-color: var(--btn-primary-bg-color-hover);
  color: white;
}
