@page
@model babe_algorithms.Pages.Admin.IngredientsViewModel

@{
    ViewData["Title"] = "IngredientsView";
    Layout = "_Layout";
}

<h1>Ingredients</h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ingredient</th>
      <th scope="col">Recipes Where Used</th>
      <th scope="col">NDB Number</th>
      <th scope="col">Save/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">cdcsd-df3df-343fd-232f</th>
      <td>Garlic clove</td>
      <td>Vegetable Soup</td>
      <td><input type="text" value="11215"></td>
      <td><button>Save</button><button>Delete</button></td>
    </tr>
    <tr>
      <th scope="row">cdcsd-df3df-343fd-232f</th>
      <td>Garlic clove</td>
      <td>Vegetable Soup</td>
      <td><input type="text" value="11215"></td>
      <td><button>Save</button><button>Delete</button></td>
    </tr>
  </tbody>
</table>