@page
@model babe_algorithms.Pages.Admin.IngredientNormalizerModel

@{
    ViewData["Title"] = "IngredientsView";
    Layout = "_Layout";
}

<h1>Ingredients</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ingredient names</th>
      <th scope="col">Recipes using</th>
      <th scope="col">Replace with</th>
      <th scope="col">Save/Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var ingredient in Model.Ingredients) {
    <tr>
      <th scope="row">@ingredient.Id</th>
      <th>@ingredient.Name</th>
      <th>@Model.Frequency[ingredient]</th>
      <form method="POST">
        <th>
          <input type="text" name="replacementId" placeholder="Replace with (ID)" value="">
        </th>
        <th>
          <input type="hidden" name="ingredientId" value="@ingredient.Id">
          <button
            class="btn btn-outline-success width-100"
            type="submit"
            asp-page-handler="ReplaceIngredient">
            Replace
          </button>
          @if (Model.Frequency[ingredient] == 0)
          {
            <button
              class="btn btn-outline-success width-100"
              type="submit"
              asp-page-handler="DeleteIngredient">
              Delete
            </button>
          }
        </th>
      </form>
    </tr>
    }
  </tbody>
</table>