@page
@model babe_algorithms.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col" style="max-width: 540px;">
            <h1>Create recipe</h1>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group margin-bottom-8">
                    <label asp-for="Recipe.Name" class="sr-only"></label>
                    Recipe name
                    <input asp-for="Recipe.Name" class="form-control"/>
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary width-100"/>
                </div>
            </form>
        </div>
    </div>
</div>