@page
@model babe_algorithms.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = Model.Recipe.Name;
    Layout = "_Layout";
    var recipeId = Model.Recipe.Id;

}
<div id="recipeEdit" data-recipe-id="@recipeId"></div>
<script type="text/javascript" src="~/js/recipeEdit.js" asp-append-version="true"></script>