@page
@model babe_algorithms.Pages.Recipes.MineModel
@{
    ViewData["Title"] = "My recipes";
    Layout = "_Layout";
}

<div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-10">
            <h1 class="margin-bottom-20">My Recipes</h1>
        </div>
        <div class="margin-bottom-20 col-2 text-end"> 
            <a asp-page="./Recipes/Create"><i class="fas fa-plus-circle themePrimary-color fa-2x"></i></a>
        </div>
</div>

<div class="row">
    @foreach (var item in Model.Recipes) {
        @await Html.PartialAsync("_RecipeCard", item)
    }
</div>

<script type="text/javascript" src="~/js/cardEnhancements.js" asp-append-version="true"></script>