/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* WEBSITE COLORS: CLOSE TO NATURE */
:root {
  --light-grey: #F7F9FB;
  --green-earth: #687864;
  --deep-water: #31708E;
  --deep-water-border: #2b627c;
  --deep-water-highlight: #193a49;
  --deep-water-highlight-border: #122833;
  --troubled-water: #5085A5;
  --troubled-water-border: #3e7ea5;
  --shallow-water: #8FC1E3;
  --red-dirt: #E27D60;
  --red-dirt-border: #d8785d;
  --red-dirt-highlight: #c26950;
  --red-dirt-highlight-border: #a35844;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: var(--deep-water);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--deep-water-highlight);
  text-decoration: underline;
}

.tooltip-style {
  font-weight: 600;
}

hr {
  margin: 8px 0;
}

.btn-outline-primary {
  color: var(--deep-water);
  border-color: var(--deep-water);
  background-color: var(--light-grey);
}

.btn-primary {
  color: var(--light-grey);
  background-color: var(--deep-water);
  border-color: var(--deep-water-border);
}

.btn-danger {
  color: var(--light-grey);
  background-color: var(--red-dirt);
  border-color: var(--red-dirt-border);
}

.btn-danger:hover, .btn-danger:active {
  color: var(--light-grey);
  background-color: var(--red-dirt-highlight);
  border-color: var(--red-dirt-highlight-border);
}

.btn-primary:hover, .btn-primary.btn-primary:active, .btn-outline-primary:hover, .btn-outline-primary:active {
  color: var(--light-grey);
  background-color: var(--deep-water-highlight);
  border-color: var(--deep-water-highlight-border);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--light-grey);
  background-color: var(--deep-water-highlight);
  border-color: var(--deep-water-highlight-border);
}

.troubled-water-color {
  background-color: var(--troubled-water);
  border-color: var(--troubled-water-border);
}

.deep-water-color {
  color: var(--deep-water);
}

.green-earth-color {
  color: var(--green-earth);
}

.red-dirt-color {
  color: var(--red-dirt);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.recipe-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-recipe-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* From experimentation, below 767px the normal 180px looks bad*/
@media all and (max-width: 767px) {
  .card-recipe-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  .get-smaller {
    padding-right: 30px;
  }
}

/* @media all and (max-width: 576px) {
  .card-recipe-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
} */

.list-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10%;
  /* margin-bottom: 10px; */
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: var(--light-grey);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.cart-header {
  font-weight: 700;
}

.count {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 40px;
  max-width: 50px;
  display: inline;
}

.step-number {
  border-right: var(--troubled-water);
  color: var(--deep-water);
  font-weight:600;
  border-top: none;
  border-style: solid;
  border-right-width: 3px;
  margin-bottom: 12px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  max-width: 40px;
}

.actual-display-inline {
  display: inline-block;
}

.padding-left-12 {
  padding-left: 12px;
}

.padding-left-58 {
  padding-left: 58px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-right-10 {
  padding-right: 10px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.width-100 {
  width: 100%;
}

.cart-ingredients-list {
  padding: 0px;
  margin-top: 8px;
}

.recipe-counter-column {
  min-width: 120px;
  max-width: 130px;
  height: 34px;
}

.new-curr-badge {
  position: relative;
  left: 8px;
  top: -33px;
  width: 45px;
}

.new-curr-input {
  padding-left: 59px;
}

.ingredient-list {
  padding-left: 0px;
  margin-bottom: 8px;
}

.ingredient-item {
  margin-bottom: 6px;
}

.cart-ingredient-item {
  margin-bottom: 6px;
  padding: 0;
}

.serving-counter {
  display: inline-block;
}

.serving-counter-in-cart {
  display: inline-block;
}

/* Per mesurements, 576px happens to be our breakpoint where we can't have 2 column in the same row for Directions label and Steps text */
@media all and (max-width: 576px) {
  .step-list {
    padding-left: 4px;
    margin-top: 8px;
  }

  .ingredient-list {
    padding-left: 4px;
    margin-top: 8px;
  }

  .serving-counter {
    margin-top: 8px;
  }

  .detail-header {
    margin-top: 8px;
  }
}

/* EXAMPLE FOR EXCEPTION ON PHONE LANDSCAPE
@media all and (max-width: 600px) and (orientation:landscape) 
{
} 
*/

/* EXAMPLE WITH ALL DIFFERENT SCREEN SIZE BREAKPOINTS
@media all and (min-width:960px) and (max-width: 1024px) {
}

@media all and (min-width:801px) and (max-width: 959px) {
}

@media all and (min-width:769px) and (max-width: 800px) {
}

@media all and (min-width:569px) and (max-width: 768px) {
}

@media all and (min-width:481px) and (max-width: 568px) {
}

@media all and (min-width:321px) and (max-width: 480px) {
}

@media all and (min-width:0px) and (max-width: 320px) {
}
*/

/* REACT AUTOSUGGEST SHIT */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

