/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* WEBSITE COLORS: CLOSE TO NATURE
Green: #687864
Deep water blue: #31708E and border: #2b627c / Much darker for highlight selected: #193a49 and border #122833
Murky blue: #5085A5
Light blue: #8FC1E3
Grey: #F7F9FB
Red: #E27D60 and border: #d8785d / Much darker for highlight: #c26950 and border #a35844
*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #193a49;
}

.btn-outline-primary {
  color: #31708E;
  border-color: #31708E;
  background-color: #F7F9FB;
}

.btn-primary {
  color: #F7F9FB;
  background-color: #31708E;
  border-color: #2b627c;
}

.btn-danger {
  color: #F7F9FB;
  background-color: #E27D60;
  border-color: #d8785d
}

.btn-danger:hover, .btn-danger:active {
  color: #F7F9FB;
  background-color: #c26950;
  border-color: #a35844
}

.btn-primary:hover, .btn-primary.btn-primary:active, .btn-outline-primary:hover, .btn-outline-primary:active {
  color: #F7F9FB;
  background-color: #193a49;
  border-color: #122833;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #F7F9FB;
  background-color: #193a49;
  border-color: #122833;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #F7F9FB;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.padding-0 {
  padding-left: 0px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.width-100 {
  width: 100%;
}
