
@page
@model babe_algorithms.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "_Layout";
}
<h1>Cart</h1>

<div
    id="cart">
</div>

<script type="text/javascript" src="~/js/cart.js" asp-append-version="true"></script>