@page
@model babe_algorithms.Pages.Recipes.FavoritesModel
@{
    ViewData["Title"] = "Favorites";
    Layout = "_Layout";
}

<div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-12">
            <h1 class="margin-bottom-20">Favorite Recipes</h1>
        </div>
</div>

<div class="row">
    @foreach (var item in Model.Recipes) {
        @await Html.PartialAsync("_RecipeCard", item)
    }
</div>

<script type="text/javascript" src="~/js/cardEnhancements.js" asp-append-version="true"></script>