@page
@model babe_algorithms.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-10">
            <h1>Recipes</h1>
        </div>
        <div class="col-2 text-end"> 
            <a asp-page="./Recipes/Create"><i class="fas fa-plus-circle green-earth-color fa-2x"></i></a>
        </div>
</div>

<hr></hr>
@foreach (var item in Model.Recipes) {
    <form method="POST">
        <div class="row">
            <div class="col-8" style="display: flex; align-items: center;">
                @{
                    var image = (item.Images?.FirstOrDefault() == null) ? "/placeholder.jpg" : item.Images?.FirstOrDefault().ToString();
                    <img class="list-image" src="@image"/>
                }
                <a asp-page="./Recipes/Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </div>
            <div class="col-4" style="display: flex; align-items: center; justify-content: flex-end;">
                <input value="@item.Id" type="hidden" name="recipeId"/>
                <button
                    data-bs-toggle="tooltip" 
                    data-bs-placement="right" 
                    title="Add recipe to grocery list"
                    type="submit"
                    asp-page-handler="AddToCart"
                    class="btn btn-primary troubled-water-color">Add to cart</button>
            </div>
        </div>
        <hr></hr>
    </form>
}