@page
@model babe_algorithms.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "CookTime";
    Layout = "_Layout";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <h1 class="fw-light">The CookTime Experience</h1>
        <p class="lead text-muted">CookTime is the recipe organizer you have been waiting for.</p>
    </div>
</section>

@if (Model.NewRecipes.Count > 0)
{
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
            <div class="col-10">
                <h1 class="margin-bottom-20">New Recipes!</h1>
            </div>
            <div class="margin-bottom-20 col-2 text-end"> 
                <a
                    asp-page="./Recipes/Create">
                    <i class="fas fa-plus-circle themePrimary-color fa-2x"></i>
                </a>
            </div>
    </div>

    <div class="row">
        @foreach (var item in Model.NewRecipes) {
            @await Html.PartialAsync("_RecipeCard", item)
        }
    </div>
}


<div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-10">
            <h1 class="margin-bottom-20">Recipes</h1>
        </div>
        <div class="margin-bottom-20 col-2 text-end"> 
            <a asp-page="./Recipes/Create">
                <i class="fas fa-plus-circle themePrimary-color fa-2x"></i>
            </a>
        </div>
</div>

@await Component.InvokeAsync("ListView", new { query=Model.PagedResult, PartialView="_RecipeCard" })

<script type="text/javascript" src="~/js/cardEnhancements.js" asp-append-version="true"></script>