@page
@model babe_algorithms.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row" style="display: flex; align-items: center; justify-content: center;">
        <div class="col-10">
            <h1 class="margin-bottom-20">Recipes</h1>
        </div>
        <div class="col-2 text-end"> 
            <a asp-page="./Recipes/Create"><i class="fas fa-plus-circle green-earth-color fa-2x"></i></a>
        </div>
</div>

<div class="row">
    @foreach (var item in Model.Recipes) {
        <div class="col-sm-4">
            <form method="POST">
                <a asp-page="./Recipes/Details" asp-route-id="@item.Id">
                    <div class="card margin-bottom-20 recipe-card">
                        @{
                            var image = (item.ImageIds.Count == 0) ? "/placeholder.jpg" : $"/image/{item.ImageIds.FirstOrDefault()}?width=300";
                            <img class="card-img-top card-recipe-image" src="@image" alt="Food image">
                        }
                        <div class="card-body ">
                            <p class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@Html.DisplayFor(modelItem => item.Name)</p>
                            <input value="@item.Id" type="hidden" name="recipeId"/>
                            <button
                                data-bs-toggle="tooltip" 
                                data-bs-placement="right" 
                                title="Add recipe to grocery list"
                                type="submit"
                                asp-page-handler="AddToCart"
                                class="btn btn-primary troubled-water-color width-100">Add to cart</button>
                        </div>
                    </div>
                </a>
            </form>
        </div>
    }
</div>