@model babe_algorithms.ViewComponents.NavBarViewComponent

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KookTime</a>
            <div class="navbar-nav me-auto">
                <a class="nav-link text-dark" href="/Cart">Groceries List</a> 
            </div>
            @* TODO: Implement search bar *@
            <form action="/" class="d-flex">
                <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>